.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-image: url(https://media4.giphy.com/media/xULW8CPwOHXPua8NTa/giphy.gif?cid=790b76116390d341e18567efd68421976b5a58450d5a3473&rid=giphy.gif&ct=g);
}

/* .winner1{
margin-left:0%;
width: 0%;
animation: winner 5s linear infinite;
}

@keyframes winner1 {
  from {left: 0px;}
  to {left: 200px;}
} */

#container {
  width: 100%;
  height: 100%;
  position: relative;
  
}
#animate {
  width: 75%;
  height: 75%;
  position: absolute;
  
}

h1{
    background-color:white;
    padding: 2%;
}

.Manchester{
    display: flex;
    flex-direction: column;
     }

  .Arsenal{
    display : flex;
    flex-direction: column;
}


  .Manchester{
    border-radius: 50%;
    width: 250px;
    margin-left: 10%;
    
  }
  .Arsenal{
    border-radius: 50%;
    width: 350px;
    margin-right: 10%;

  }
  .divider {
    border-left: 6px  white solid;
    padding-bottom: 45%;
  }

  .Arsenal button{
      padding: 3.5%;
      font-weight: bolder;
      margin: 15%;
      margin-bottom: 15%;
  }
  .Manchester button{
    padding: 5%;
    font-weight: bolder;
    margin-bottom: 5%;
}

.Arsenal p{
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  margin: 5%;
  margin-left: 20%;
}
.Manchester p{
font-size: 40px;
color: #fff;
font-weight:bold;
margin-bottom: 30%;
margin-left: 20%;
}


h2{
    color: #fff;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reset{
    margin-left: 40%;
    padding: 5%;
    font-weight: bolder;
}

